body {
    padding: 60px;
    background: linear-gradient(to right, #7cd4eb, rgb(220, 240, 151), #FC8E94, rgb(235, 113, 133));
}

.content {
    border-radius: 20px;
    background: white;
    padding: 75px;
    padding-bottom:20px;
    padding-top: 50px;
}

.navigation {
    padding-bottom: 20px;
    display: flex;
    width: auto;
}

.c_left {
    padding-top: 15px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.c_right {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 0;
    margin-left: auto;
}

.c_right a{
    color:rgb(226, 103, 123);
    text-decoration: none;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

.navigation li {
    cursor: pointer;
    margin-left: 10px;
}

.about {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 20px;
    padding-bottom: 30px;
}

.subAbout {
    padding-left: 70px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
    display: flex;
    flex-wrap: wrap;
    /* for displaying like a flex and that too side by side */
}

.past{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.respo, .achieve{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background: mistyrose;
    margin: 7.5px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: black;
}

.achieve a{
    color:crimson;
    text-decoration: none;
}

.career, .skills {
    width: 50%;
}

.career h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact a{
    color:brown;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
